body {
    background-image: url(assets/backg.jpg);
    background-size: cover;
    height: 100vh;
}

.keys {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.key {
    display: flex;
    flex-direction: column;
    margin: 2%;
    background-color: rgba(20, 20, 20, 0.548);
    min-width: 85px;
    align-items: center;
    border: 2px solid black;
    border-radius: 12px;
    transition: all 0.07s;
    text-shadow: 0 0 5px black;
}

.key kbd{
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.key .sound{
    text-transform: uppercase;
    color: rgb(189, 128, 23);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.75em;
}

.key.playing {
    transform: scale(1.1);
    border-color: rgb(189, 128, 23);
}